## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## PROJECT::GENERAL
coverage
rdoc
.rvmrc

## PROJECT::SPECIFIC
Gemfile.lock
*.gem
.bundle
pkg/*
spec/zillow_api_key.yml
spec/vcr_cassettes/*.yml
spec/zester/resource_spec.rb
